<script type="text/javascript">
function showNewDialog(){
	$("#divId").dialog({ title: 'Create Answer' });
   	$("#divId").dialog("open");
   	$("#modalIframeId").attr("src","/questions/<%=@question.id %>/elements/new");
   	return false;
}
function showEditDialog(id){
	$("#divId").dialog({ title: 'Edit Answer' });
   	$("#divId").dialog("open");
   	$("#modalIframeId").attr("src","/questions/<%=@question.id %>/elements/" + id + "/edit");
   	return false;
}
function showAddImage(){
	$("#divId").dialog({ title: 'Add Image' });
	$("#divId").dialog("open");
	$("#modalIframeId").attr("src","/question_images/<%= @question.id %>/new");
	return false;
}
function showEditImage(id){
	$("#divId").dialog({ title: 'Edit Image' });
	$("#divId").dialog("open");
	$("#modalIframeId").attr("src","/question_images/" + id + "/edit");
	return false;
}

	// Return a helper with preserved width of cells
	var fixHelper = function(e, ui) {
		ui.children().each(function() {
			$(this).width($(this).width());
		});
		return ui;
	};

	$(document).ready(function() {
		$("#divId").dialog({
			autoOpen : false,
			modal : true,
			height : 300,
			width : 500,
			close : function(event, ui) {
				location.reload(true);
			}
		});

		$("#sort tbody").sortable({
			helper : fixHelper,
			update : function(event, ui) {
				var Order = $("#sort tbody").sortable('toArray').toString();
				document.getElementById("sort_order").value = Order;
			}
		}).disableSelection();

		$("#question_option_id").change(function () {
    	if ($("#question_option_id").val() == "3") {
        	$("#additional").show();
        }
        else {
        	$("#additional").hide();
        }
    	});
		var Order = $("#sort tbody").sortable('toArray').toString();
		document.getElementById("sort_order").value = Order;
	});

</script>
<%= hidden_field_tag "sort_order"%>
<div style="float:left;">
<div class="field">
	<%= f.label :question_text %>
	<br />
	<%= f.text_area :question_text, :size => "50x3" %>
</div>
<% if @question.id != nil %>
<div class="field">
  <% if @question_image != nil %>
    <a href="" onclick="return showEditImage(<%="#{@question_image.id}"%>)">Edit Image</a>
     <%= link_to 'X',
          @question_image,
          :confirm => 'Are you sure?',
          :method => :delete %>
  <% else %>
    <a href="" onclick="return showAddImage()">Add/Image</a>
  <% end %>
  <div>
    <% if @question_image != nil %>
    <%= image_tag("/question_images/#{@question_image.id}", :alt => "Image") %>
    <br />
    <%end%>
  </div>
</div>
<%end%>
<div class="field">
	<%= f.label :instructions %>
	<br />
	<%= f.text_area :instructions, :size => "50x3" %>
</div>
<% if @question.id != nil %>
<div id="canswers" style="clear:both">
	<table id="sort" style="width:100%">
		<thead>
			<tr>
				<th><a href="" onclick="return showNewDialog()">new</a></th>
				<th>Answer</th>
				<th>Score</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => "elements/element",
			:collection => @question.elements %>
		</tbody>
	</table>
	<div id="divId" title="Add Answer">
		<iframe id="modalIframeId" width="100%" height="100%"
		marginWidth="0" marginHeight="0" frameBorder="0" scrolling="auto"
		title="Dialog Title">
			Your browser does not support
		</iframe>
	</div>
</div>
<hr />
<% end %>
</div>
<div class="field" style="float:left; margin-left:20px;">
  <fieldset style="background-color:#e6fdba;margin: 0;">
    <legend>
      Question Options
    </legend>
    <b>Include Textbox:</b>
    <br />
    <%= select("question", "option_id", Option.all.collect {|t| [ t.name, t.id ] }) %>
    <br />
    <% if @question.option_id == 3 %>
    <div id="additional" style="display:block;">
    <%else%>
    <div id="additional" style="display:none;">
    <%end%>
      <%= f.label :additional_comments %>
      <br />
      <%= f.text_field :additional_comments %>
      <br />
    </div>
    <%= f.label :is_answer_required %>
    <%= f.check_box :is_answer_required %>
    <br />
    <br />
    <%= f.label :short_name %>
    <br />
    <%= f.text_field :short_name %>
    <br />
  </fieldset>
</div>