<script type="text/javascript">
function showAddImage(){
	$("#divId").dialog({ title: 'Add Image' });
   	$("#divId").dialog("open");
   	$("#modalIframeId").attr("src","/question_images/<%=@question.id %>/new");
   	return false;
}
function showEditImage(id){
	$("#divId").dialog({ title: 'Edit Image' });
	$("#divId").dialog("open");
	$("#modalIframeId").attr("src","/question_images/" + id + "/edit");
	return false;
}

$(document).ready(function() {
   $("#divId").dialog({
           autoOpen: false,
           modal: true,
           height: 300,
           width: 500,
           close: function(event, ui){ 
        		location.reload(true); 
       	   }
    });
});
</script>
<div class="field" style="float:left;">
	<%= f.label :question_text %><br />
    <%= f.text_area :question_text, :size => "30x10" %>
</div>
<div class="field" style="float:left; margin-left:20px">
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions, :size => "30x10" %>
</div>
<div class="field" style="float:left; margin-left:20px;">
	<fieldset>
	<legend>Question Options</legend>
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
	</fieldset>
</div>
<% if @question.id != nil %>
<div class="field" style="float:left; margin-left:20px;">
<% if @question_image != nil %>
		<a href="" onclick="return showEditImage(<%="#{@question_image.id}"%>)">Add/Edit Image</a>
<% else %>
		<a href="" onclick="return showAddImage()">Add/Edit Image</a>
<% end %>
	<div style="border: 1px solid black;text-align: center">
	<% if @question_image != nil %>
		<%= image_tag("/question_images/#{@question_image.id}", :alt => "Image", :size =>"100x100") %>
	    <br />
		<%= link_to image_tag("delete.png", :border => 0),
			   @question_image,
               :confirm => 'Are you sure?',
               :method => :delete %>
               
	<%end%>
	</div>
</div>
<%end%>
<div id="divId" title="Add Image">
    <iframe id="modalIframeId" width="100%" height="100%"
    marginWidth="0" marginHeight="0" frameBorder="0" scrolling="auto"
    title="Dialog Title">Your browser does not support javascript .... ?</iframe>
</div>