<tr id="<%= element.id %>">
  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
  <td><%= element.element_text %></td>
  <%if element.question.class.name == "Likert"%>
  <td><%if element.score == -1%>Descending<%else%>Ascending<%end%></td>
  <%elsif element.question.class.name != "Scale"%>
  <td><%= element.score %></td>
  <%end%> 
  <td><a href="" onclick="return showEditDialog(<%= element.id %>)">edit</a>
  <%= link_to 'X',
			   [element.question.becomes(Question),element],
               :confirm => 'This will delete the Answer',
               :method => :delete %>
  </td>
</tr>
