<script type="text/javascript">
function showEditDialog(id){
   $("#divId").dialog("open");
   $("#modalIframeId").attr("src", "/subjects/" + id + "/edit");
   return false;
}

function showNewDialog(){
   $("#divId").dialog({ title: 'New Subject' });
   $("#divId").dialog("open");
   $("#modalIframeId").attr("src", "<%= new_subject_path %>");
   return false;
}

$(document).ready(function() {
   $("#divId").dialog({
           autoOpen: false,
           modal: true,
           height: 500,
           width: 500,
           close: function(event, ui){ 
        		location.reload(true); 
       	   }
    });
});
</script>
<a href="" onclick="return showNewDialog();"><%= image_tag("add_subject.png", :border => 0, :title => "Add/View Subjects") %></a>
<hr />
<table class="datatable" style="width:100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Identifier</th>
    <th>Created</th>
    <th>Actions</th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
  	<td><a href="" onclick="return showEditDialog(<%= subject.id %>);"><%= subject.full_name %></a></td>
  	<td><%= subject.email %></td>
  	<td><%= subject.identifier %></td>
  	<td><%= subject.created_at %></td>
    <td><%= link_to image_tag("delete_survey.png", :border => 0), subject, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<tr style="color:White; background-color:#77b108;">
    <th colspan="5">&nbsp;</th>
</tr>
</table>

<hr />
<div id="divId" title="Edit subject">
    <iframe id="modalIframeId" width="100%" height="100%"
    marginWidth="0" marginHeight="0" frameBorder="0" scrolling="auto"
    title="Dialog Title">Your browser does not support</iframe>
</div>


