<% content_for :survey_title, @statistician.name %>
This: <%= session[:is_authenticated] %>

<% if @error == true %>
<div id="validation_errors">
	Password and/or Respondant ID is incorrect. Please try agian.
</div>
<%end%>

<%= form_tag('subject_authenticate') %>
<h1>This survey requires respondant verification</h1><br /><br />
ID: <br />
<%= text_field_tag 'subject_id' %><br />
Password:<br />
<%= password_field_tag 'pass' %>

<div class="actions">
   	<%= submit_tag "Continue" %>
	<%= submit_tag "Cancel" %>
</div>
</form>