<% if @error == true %>
<div style="border: 1px solid red;padding:10px;">
	<span style="color:red;font-size:large;font-weight:bold">Please correct the following:</span><br />
	<span style="color:red;">Could not enable password, password and confirm password did not match.</span>
</div>
<br />
<% end %>
<%= form_tag('password') %>
Password: <br />
<%= password_field_tag 'password' %><br />
Confirm Password:<br />
<%= password_field_tag 'confirm_password' %><br />
<div class="actions">
   	<%= submit_tag "Continue" %>
   	<% if @statistician.is_password_required == true %>
   		<%= submit_tag "Disable" %>
   	<% end %>
	<%= submit_tag "Cancel" %>
</div>
</form>