<html>
<head>
  <title>Gather</title>
  <%= stylesheet_link_tag 'dialog.css' %>
  <%= javascript_include_tag 'jquery-1.6.1.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.13.custom.min.js' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
