<!DOCTYPE html>
<html>
<head>
  <title>Gather</title>
  <%= stylesheet_link_tag "/stylesheets/statistician_#{@statistician.id.to_s}.css" %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.13.custom.css' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="page">
	<div id="header">
		<div id="title">
        	<div id="logo"></div>
            <div id="statistician_name"><h2><%= yield :survey_title %></h2></div>
        </div>
        <div id="logindisplay">
        	&nbsp;
        </div> 
        <div id="menucontainer">
        	&nbsp;
        </div>
    </div>
    <div id="main">
    	<%= yield %>
	    <div id="footer">
	    </div>
	</div>
</div>
</body>
</html>
